.post-message-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: rgb(177, 177, 177);
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.post-message-btn:hover {
    transform: translateY(-2px);
    color: rgb(210, 210, 210);
}

.pen-icon {
    font-size: 3rem;
}
