body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  background-color: #040607;
  color: #e1e1e1;
}

.app {
  padding: 1rem;
}

button {
  font-family: inherit;
}

textarea {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-track {
  background: #1e2d3b;
}

::-webkit-scrollbar-thumb {
  background-color: #657786;
  border-radius: .5rem;
}
